<%
    var data = {
        lang: "en",
        title: "index",
        styles: [],
        scripts: [
            "./js/main.js",
            "./js/modules.js"
        ]
    };

%>

<!DOCTYPE html>
<html lang="<%= data.lang %>">

    <%- include ../patterns/common/head.ejs %>

    <body>

    <%- include ../patterns/common/scripts.ejs %>

    </body>

</html>
